.order-enter {
  opacity: 0.01;
}

.order-enter.order-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.order-leave {
  opacity: 1;
}

.order-leave.order-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}